<script src="http://127.0.1.1:45340/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://127.0.1.1:45340');
  socket.on('connect', function(){});
  socket.on('event', function(data){});
  socket.on('disconnect', function(){});
</script>
